textarea.form-control {
  height: inherit !important;
}

.wrapper {
  width: 100%;
  -webkit-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
}

.contact-wrap {
  background: #fff;
}

.info-wrap h3 {
  color: #fff;
}

.info-wrap .dbox {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
}

.info-wrap .dbox:last-child {
  margin-bottom: 0;
}

.info-wrap .dbox p {
  margin-bottom: 0;
}

.info-wrap .dbox p span {
  font-weight: 600;
  color: #fff;
}

.info-wrap .dbox p a {
  color: #fff;
}

.info-wrap .dbox .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.info-wrap .dbox .icon span {
  font-size: 20px;
  color: #fff;
}

.info-wrap .dbox .text {
  width: calc(100% - 50px);
}

@media (min-width: 992px) {
  .info-wrap {
    margin-top: -20px;
    margin-bottom: -20px;
    border-radius: 5px;
  }
}

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
}

.btn.btn-primary {
  background: #1089ff !important;
  border-color: #1089ff !important;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  border-color: #006fdc !important;
  background: #006fdc !important;
}

#contactForm .error {
  color: red;
  font-size: 12px;
}

#contactForm .form-control {
  font-size: 16px;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: red;
}

#form-message-success {
  color: #28a745;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-size: 16px;
  font-weight: bold;
}
