:root {
  --light-red: #ff304f;
  --light-blue: #28c7fa;
  --dark-blue: #002651;
  --light-green: #90c418;
  --light-orange: #f8c822;
  --light-grey: #e2e2e2;
  --light-black: #222222;
  --earn-blue: #59adff;
}

@font-face {
  font-family: "Cairo";
  src: url("../res/fonts/Cairo.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cairo;
}

body {
  height: 100vh;
  /* fallback for old browsers */
  background: #fff;
  background: -webkit-linear-gradient(to right, #fff, #d6ebff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff,  #d6ebff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera*/
}

header .logo {
  text-decoration: none;
  margin-left: 40px;
  font-weight: bold;
  color: white;
  font-size: 32px;
}
span {
  color: var(--light-blue);
}

::selection {
  color: #000;
  background: #fff;
}
nav {
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child {
  margin-left: 0px;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover {
  background: #fff;
  color: black;
}

.center {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title {
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns {
  margin-top: 20px;
}
.center .btns button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child {
  color: red;
  background: none;
}
.btns button:first-child:hover {
  background: #fff;
  color: black;
}
.center .btns button:last-child {
  background: red;
  color: #fff;
}

.center .btns button:last-child:hover {
  background: #fff;
  color: red;
}

.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

#addToCart {
  width: 94%;
  transition: all 0.5s ease;
  background-color: #ffc000;
  outline: none;
  border: none;
}

#addToCart:hover {
  background-color: red;
}
