:root {
    --light-red: #ff304f;
    --light-blue: #28c7fa;
    --dark-blue: #002651;
    --light-green: #90c418;
    --light-orange: #f8c822;
    --light-grey: #e2e2e2;
    --light-black: #222222;
    --earn-blue: #59adff;
}

@font-face {
    font-family: "Cairo";
    src: url("../res/fonts/Cairo.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cairo;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    height: 100vh;
    background-color: var(--light-grey);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: darkgrey;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #6d6d6d;
}

.hidden {
    display: none;
}

/**********************************************/

header {
    background-color: #343a40;
    display: flex;
    flex-direction: row;
    position: relative;
}

header a {
    text-decoration: none;
    color: white;
}

header .logo {
    font: 26px Cairo;
    font-weight: bold;
    margin: 0 16px;
}

header .nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .nav-elements ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

header .nav-elements ul li a {
    margin-right: 16px;
    font: 18px Cairo;
    color: #ffffff80;
    padding: 8px;
}

header .nav-elements ul li a:hover {
    margin: 0 16px 0 0;
    font: 18px Cairo;
    color: #fff;
    padding: 8px;
}

header .nav-elements form {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 120px;
}

header .basket button {
    position: absolute;
    outline: none;
    right: 38px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

header .basket .NbOrders {
    position: absolute;
    top: -1px;
    right: -2px;
    background-color: #dc3545;
    border-radius: 40%;
    color: white;
    font-weight: 700;
    font-size: 75%;
    display: inline-block;
    padding: 0.25em 0.4em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline
}

header .basket .hidden {
    display: none;
}

/******************************************/

main {
    margin: 48px;
}

main .banner {
    background: linear-gradient(to right, #9CECFB, #65C7F7, #0052D4);
    padding: 48px;
    color: white;
    border-radius: 10px;
}

main .banner h1 {
    font: 56px Cairo;
    margin-bottom: 10px;
}

main .banner p {
    font: 20px Cairo;
    margin-bottom: 16px;
}

main .banner button {
    font: 16px Cairo;
    margin-top: 48px;
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main .banner #log-in {
    background-color: #dc3545;
}

main .banner #register {
    background-color: #007bff;
}

/********************************************************/

main .categories {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

main .categories .category-title {
    font: 48px Cairo;
    color: #111111;
}

main .categories .products {
    display: flex;
    flex-direction: row;
    margin: 16px;
}

main .categories .products .card {
    background-color: #343a40;
    padding: 16px;
    color: white;
    display: flex;
    flex-direction: column;
}

main .categories .products .card .product-image {
    padding: 20px;
    transition: all 0.5s ease;
}

main .categories .products .card .product-image img {
    width: 180px;
    height: 180px;
}

main .categories .products .card .product-image:hover {
    transform: scale(1.2);
}

main .categories .products .card .product-name {
    font: 20px Cairo;
    font-weight: bold;
    margin-bottom: 8px;
}

main .categories .products .card p {
    color: #6c757d;
    font: 12px Cairo;
    margin-bottom: 4px;
}

main .categories .products .card .product-price {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin: 10px 0 10px 0;
}

main .categories .products .card .product-stock {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin: 10px 0 10px 0;
}

main .categories .products .card button {
    border: none;
    margin: 10px 0 10px 0;
    padding: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
}

main .categories .products .card button:hover {
    opacity: 0.9;
}

/*********************************************/

.pop-up .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******************************************/

.pop-up .log-in-pop .pop-content {
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    z-index: 101;
}

.pop-up .log-in-pop .pop-content form {
    width: 500px;
}

.pop-up .log-in-pop .pop-content form legend {
    background-color: #dc3545;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    padding: 10px;
}

.pop-up .log-in-pop .pop-content form legend a {
    background: none;
    border: none;
}

.pop-up .log-in-pop .pop-content form legend a:hover {
    cursor: pointer
}

.pop-up .log-in-pop .pop-content form legend a img {
    width: 24px;
    height: 24px;
}

.pop-up .log-in-pop .pop-content form .field {
    margin: 15px 30px 10px 30px;
    display: flex;
    flex-direction: column;
}

.pop-up .log-in-pop .pop-content form .field label {
    font: 16px Cairo;
    color: #111111;
    margin-bottom: 4px;
}

.pop-up .log-in-pop .pop-content form .field input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pop-up .log-in-pop .pop-content form .field input:focus {
    outline: none;
    border: 1px solid #dc3545;
}

.pop-up .log-in-pop .pop-content form .field .button {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 25px;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: #dc3545;
    cursor: pointer;
    border: none;
}

/*******************************************/

.pop-up .register-pop .pop-content {
    background-color: white;
    border-radius: 4px;
    display: block;
    flex-direction: column;
    z-index: 101;
    min-width: 500px;
    max-height: 90vh;
}

.pop-up .register-pop .pop-content form .fbody {
    max-height: 72vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-highlight-color: #6d6d6d;
}

.pop-up .register-pop .pop-content form .fbody::-webkit-scrollbar {
    width: 10px;
}

.pop-up .register-pop .pop-content form .fbody::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: darkgrey;
}

.pop-up .register-pop .pop-content form .fbody::-webkit-scrollbar-thumb:hover {
    background-color: #6d6d6d;
}

.pop-up .register-pop .pop-content form legend {
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    max-height: 10vh;
}

.pop-up .register-pop .pop-content form legend a {
    background: none;
    border: none;
}

.pop-up .register-pop .pop-content form legend a:hover {
    cursor: pointer
}

.pop-up .register-pop .pop-content form legend a img {
    width: 24px;
    height: 24px;
}

.pop-up .register-pop .pop-content form .field {
    margin: 18px 30px 10px 30px;
    display: flex;
    flex-direction: column;
}

.pop-up .register-pop .pop-content form .field label {
    font: 16px Cairo;
    color: #111111;
    margin-bottom: 4px;
}

.pop-up .register-pop .pop-content form .field input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pop-up .register-pop .pop-content form .field input:focus {
    outline: none;
    border: 1px solid #007bff;
}

.pop-up .register-pop .pop-content form .field .button {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 25px;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    border: none;
}

/**************************************/

.pop-up .cart-pop .pop-content {
    display: flex;
    background-color: white;
    border-radius: 4px;
    flex-direction: column;
    z-index: 101;
    min-width: 500px;
    max-height: 90vh;
}

.pop-up .cart-pop .pop-content legend {
    background-color: #ffc107;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    margin-right: 24px;
    max-height: 10vh;
}

.pop-up .cart-pop .pop-content legend h5 {
    color: #212529;
    font: 20px Cairo;
}

.pop-up .cart-pop .pop-content legend a {
    background: none;
    border: none;
}

.product-qnt {
    width: 100px;
    margin: 0 20px;
}


#total-price {
    width: 200px;
    text-align: center;
    color: #fff;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    margin: 2px 12px 8px;
}

.fa-trash {
    margin-right: 2px;
    background-color: var(--light-red);
    border-radius: 6px;
    padding: 8px;
    color: #fff;
}


.shopping-cart-img {
    width: 60px;
    height: 60px;
    margin: 0 12px;
}

.pop-up .cart-pop .pop-content legend a:hover {
    cursor: pointer;
}

.pop-up .cart-pop .pop-content legend a img {
    width: 24px;
    height: 24px;
}

.pop-up .cart-pop .pop-content #total-price {
    max-height: 10vh;
}

.pop-up .cart-pop .pop-content table {
    display: block;
    color: #212529;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-highlight-color: #6d6d6d;
}

.pop-up .cart-pop .pop-content table::-webkit-scrollbar {
    width: 10px;
}

.pop-up .cart-pop .pop-content table::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: darkgrey;
}

.pop-up .cart-pop .pop-content table::-webkit-scrollbar-thumb:hover {
    background-color: #6d6d6d;
}

.pop-up .cart-pop .pop-content table::-webkit-scrollbar-button {
    display: none;
}

.pop-up .cart-pop .pop-content table thead {
    font-weight: bold;
}

.pop-up .cart-pop .pop-content .actionbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
    max-height: 10vh;
}

.pop-up .cart-pop .pop-content .actionbtn #close {
    background-color: #6c757d;
    padding: 6px 12px;
    margin: 4px;
    font: 16px Cairo;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.pop-up .cart-pop .pop-content .actionbtn #buy-now {
    background-color: #28a745;
    padding: 6px 12px;
    margin: 4px;
    font: 16px Cairo;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

/****************************************/