html{
    overflow-y: scroll;
    scrollbar-color: #FF304F #002651;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
body::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}